<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "", placeholder:'Name' %>
  </div>

  <div class="">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "", placeholder:'Email'%>
  </div>

  <div class="">
    <%= f.password_field :password, autocomplete: "new-password", class: "", placeholder: "Minimum six characters password" %>
  </div>


  <div class="">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "", placeholder: "Confirm Password" %>
  </div>

  <div class="">
    <%= f.submit "Sign up", class:"" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>