<%= render 'shared/navbar' %>
<% if @post %>
    <section class='post-section'>
        <div class='user-posts'>
            <div class='post-container'>
                <h3>"<%= @post.title %>" by <%= @post.author.name %></h3>
                <p><%= @post.text %></p>
                <div class='post-interactions'>
                    <p>Comments: <%= @post.comments_counter %></p>
                    |
                    <p>Likes: <%= @post.likes_counter %></p>
                </div>
            </div>
            <div class='comments-container'>
                <% @post.comments.each do |comment| %>
                    <div class='comment-container'>
                        <div class='comment'>
                            <h4><%= comment.author.name %>:</h4>
                            <p><%= comment.text %></p>
                        </div>
                        <% if can?(:destroy, comment) || (comment.author.id == current_user.id) %>
                            <%= button_to 'Delete comment', user_post_comment_path(@user.id, @post.id, comment.id), method: :delete, class: 'interactive-links' %>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </section>
<% else %>
    <h1>Post not found</h1>
<% end %>